html, body {
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	background-color: black;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

nav {
	width: 80%; 
	height: 100%;
	background-color: #454443;
	position: absolute;
	top: 0;
	z-index: 2;
	overflow: hidden;
	margin-left: -80%;
}

.nav-open {
	margin-left: 0;
}

/*nav, .nav-open, #hamburger {
	transition-property: margin-left;
	transition-duration: 1.5s;
	transition-timing-function: ease-out;
}*/

.animateStart {
	transition-property: margin-left;
	transition-duration: 1.5s;
	transition-timing-function: ease-out;
}

.animateNav {
	transition-property: margin-left;
	transition-duration: 1.5s;
	transition-timing-function: ease-out;
}

nav h2 {
	font-size: 1.5em;
	margin-top: 9px;
	color: white;
}

nav h3 {
	font-size: 1.25em;
	margin-bottom: 5px;
	margin-top: 15px;
	color: white;
}

nav form ul {
	list-style: none;
	padding-left: 0
}

#go {
	font-family: 'Russo One', sans-serif;
	font-style: italic;
	font-size: 2.5em;
	border: solid black 1px;
	padding: 5px 30px;
	border-radius: 0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	background-color: white;
	margin-top: -10px;
}

#go:hover:active {
	background-color: #B8B8B8;
}

header {
	position: absolute;
	width: 300px;
	top: 25px;
	left: 50%;
	margin-left: -150px;
	z-index: 1;
}

header img {
	margin: 0 auto;
	display: block;
}

header h1 {
	font-size: 2em;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

header h2 {
	font-size: 1em;
	font-weight: lighter;
	color: white;
	text-align: center;
}

form {
	margin-left: 5%;
}

li {
	font-size: 1em;
	color: white;
}

li img {
	vertical-align: middle;
	margin-right: 8px;
}

#address {
	font-size: 1em;
}

input[type="checkbox"] {
	zoom: 2;
	vertical-align: middle;
	margin-left: 0;
	margin-right: 2px;
	margin-top: 4px;
}

#hamburger {
	margin-left: 0%;
	padding-right: 7px;
	padding-left: 7px;
	position: absolute;
	background-color: #454443;
	top: 0;
	z-index: 2;
}

.hamburger-open {
	margin-left: 80% !important;
}

main {
	height: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
}

#infoPlace {
	font-size: 1.5em;
	font-weight: 500;
}

.shake {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

@media (min-width: 414px) {

	nav h3 {
		margin-bottom: 10px;
	}

	li {
		margin-top: 12px;
	}

	input[type="checkbox"] {
		zoom: 2.75;
		margin-right: 3px;
	}

	li img {
		margin-right: 12px;
	}

	#go {
		margin-top: 0;
	}

}

@media (min-width: 768px) {

	nav {
		width: 50%; 
		margin-left: -50%;
	}

	#hamburger {
		width: 60px;
		height: 60px;
	}

	.hamburger-open {
		margin-left: 50% !important;
	}

	nav h2 {
		font-size: 2.25em;
		margin-top: 18px;
		color: white;
	}

	#address {
		font-size: 1.5em;
	}

	nav h3 {
		font-size: 1.75em;
		margin-bottom: 20px;
		margin-top: 25px;
	}

	li {
		margin-top: 12px;
		font-size: 1.1em;
	}

	input[type="checkbox"] {
		zoom: 3;
		margin-right: 5px;
	}

	#pImg, #hImg, #vImg {
		width: 50px;
		height: 50px;
		margin-right: 15px;
	}

	#fImg {
		width: 55px;
		height: 36px;
		margin-right: 15px;
	}

	#mImg {
		width: 50px;
		height: 56px;
		margin-right: 15px;
	}

	#go {
		margin-top: 15px;
		padding: 10px 50px;
	}

	header {
	    width: 600px;
	    top: 30px;
	    margin-left: -300px;
	}

	header img {
		width: 150px;
		height: 150px;
	}

	header h1 {
		font-size: 3em;
		margin-top: 0;
		margin-bottom: 0;
	}

	header h2 {
		font-size: 1.5em;
		font-weight: lighter;
		color: white;
		text-align: center;
	}

}

@media (min-width: 1200px) {

	nav {
		width: 33.33%; 
		margin-left: -33.33%;
	}

	#hamburger {
		width: 60px;
		height: 60px;
	}

	.hamburger-open {
		margin-left: 33.33% !important;
	}

	#pImg, #hImg, #vImg {
		width: 50px;
		height: 50px;
	}

	#fImg {
		width: 55px;
		height: 36px;
	}

	#mImg {
		width: 50px;
		height: 56px;
	}

}