html, body {
	height: 100%;
	font-family: helvetica;
	font-size: 1em;
	background-color: lightblue;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

nav {
	width: 90%; 
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	z-index: 2;
	overflow: auto;
}

.nav-closed {
	margin-left: -90%;
}

nav, .nav-closed, #hamburger {
	transition-property: margin-left;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
}

nav h2 {
	font-size: 3.5em;
}

nav h3 {
	font-size: 2.5em;
}

nav form ul {
	list-style: none;
	padding-left: 0;
}

select, input {
	font-size: 2em;
}

#go {
	font-size: 4em;
	border: solid black 1px;
	padding: 10px 50px;
	margin-top: 40px;
}

h1 {
	text-align: center;
	position: absolute;
	left: 50%;
	z-index: 1;
}

h2 {
	margin-left: 5%;
}

form {
	margin-left: 5%;
}

#hamburger {
	margin-left: 90%;
	position: absolute;
	top: 0;
	z-index: 2;
}

.hamburger-closed {
	margin-left: 0% !important;
}

main {
	height: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
}
