html, body {
	height: 100%;
	font-family: helvetica;
	font-size: 1em;
	background-color: black;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

nav {
	width: 80%; 
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	z-index: 2;
	overflow: auto;
	margin-left: -80%;
}

.nav-open {
	margin-left: 0;
}

nav, .nav-open, #hamburger {
	transition-property: margin-left;
	transition-duration: 1.5s;
	transition-timing-function: ease-out;
}

nav h2 {
	font-size: 4.25em;
	margin-left: 5%;
}

nav h3 {
	font-size: 3em;
}

nav form ul {
	list-style: none;
	padding-left: 0;
}

#go {
	font-size: 4em;
	border: solid black 1px;
	padding: 30px 100px;
	margin-top: 40px;
}

header {
	position: absolute;
	width: 800px;
	top: 25px;
	left: 50%;
	margin-left: -400px;
	z-index: 1;
}

header img {
	margin: 0 auto;
	display: block;
}

header h1 {
	font-size: 5em;
	color: white;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

header h2 {
	font-size: 2.75em;
	font-weight: lighter;
	color: white;
	text-align: center;
}

form {
	margin-left: 5%;
}

li {
	font-size: 2.5em;
	margin-top: 20px;
}

li img {
	vertical-align: middle;
	margin-right: 30px;
}

#address {
	font-size: 1em;
}

input[type="checkbox"] {
	zoom: 8;
	vertical-align: middle;
	margin-left: 0;
}

#hamburger {
	margin-left: 0%;
	padding-right: 20px;
	padding-left: 20px;
	position: absolute;
	background-color: white;
	top: 0;
	z-index: 2;
}

.hamburger-open {
	margin-left: 80% !important;
}

main {
	height: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
}


.gm-style-iw img {
    width: 50px;
    height: 50px;
}

#infoPlace {
	font-size: 3.5em;
}

#infoDetail {
	font-size: 2em;
}
